@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #40aa0b;
}

header {
    position: fixed;
    top: 0;
    z-index: 999;
    height: 4em;
    width: 100%;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
}

nav ul li a {
    padding: 10px 17px;
    cursor: pointer;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

#lognin {
    border-left: 1px dashed rgba(255, 255, 255, .2);
}

.text {
    position: absolute;
    top: 200px;
    left: 350px;
    text-align: left;
}

.text h1 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 38px;
}

.text h4 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    color: #fff;
    font-weight: 400;
}

.text button {
    background-color: #40aa0b;
    color: #fff;
    padding: 15px 85px;
    border-radius: 10px;
    margin-top: 40px;
    outline: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.info-text {
    text-align: center;
    margin-top: 2.5rem
}

.info-text h1 {
    font-weight: 900;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
}

.info-text p {
    font-size: 18px;
    margin-top: 10px;
    color: #424242;
    font-family: 'Lato', sans-serif;
}

.cards-1 {
    margin-top: 5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.item-1 {
    box-shadow: 0px 2px 8px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.img {
    background-image: url("https://www.cotemig.com.br/static/courseType/desktopimage-1643903692865.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 284px;
    height: 175px;
    border-radius: 20px 20px 0px 0px;
}

.img h3 {
    padding: 110px 5px;
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}

.item-1 .section-1 {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item-1 .section-1 a {
    color: #000;
    font-family: 'Lato', sans-serif;
}

.item-1 .section-1 a:hover {
    color: #40aa0b;
}

.item-1 .section-2 {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item-1 .section-2 a {
    color: #000;
    font-family: 'Lato', sans-serif;
}

.item-1 .section-2 a:hover {
    color: #40aa0b;
}

.item-2 {
    box-shadow: 0px 2px 8px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.item-2 .img {
    background-image: url("https://www.cotemig.com.br/static/courseType/desktopimage-1621255560657.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 284px;
    height: 175px;
    border-radius: 20px 20px 0px 0px;
}

.item-2 .section-1 {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item-2 .section-1 a {
    color: #000;
    font-family: 'Lato', sans-serif;
}

.item-2 .section-1 a:hover {
    color: #40aa0b;
}

.item-2 .section-2 {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item-2 .section-2 a {
    color: #000;
    font-family: 'Lato', sans-serif;
}

.item-2 .section-2 a:hover {
    color: #40aa0b;
}

.item-2 .section-3 {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item-2 .section-3 a {
    color: #000;
    font-family: 'Lato', sans-serif;
}

.item-2 .section-3 a:hover {
    color: #40aa0b;
}

.item-3 {
    box-shadow: 0px 2px 8px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.item-3 .img {
    background-image: url("https://www.cotemig.com.br/static/courseType/desktopimage-1621252590289.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 284px;
    height: 175px;
    border-radius: 20px 20px 0px 0px;
}

.item-3 .section-1 {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item-3 .section-1 a {
    color: #000;
    font-family: 'Lato', sans-serif;
}

.item-3 .section-1 a:hover {
    color: #40aa0b;
}

.item-3 .section-2 {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item-3 .section-2 a {
    color: #000;
    font-family: 'Lato', sans-serif;
}
.item-3 .section-2 a:hover {
    color: #40aa0b;
}
.item-4 {
    box-shadow: 0px 2px 8px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.item-4 .img {
    background-image: url("https://www.cotemig.com.br/static/course/mobileimagefull-1591393611182.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 284px;
    height: 175px;
    border-radius: 20px 20px 0px 0px;
}

.item-4 .section-1 {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item-4 .section-1 a {
    color: #000;
    font-family: 'Lato', sans-serif;
}

.item-4 .section-1 a:hover {
    color: #40aa0b;
}

.unidades .text-1 {
    text-align: center;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

.unidades .text-1 p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #424242;
    margin-top: 2vh;
}

.unidades {
    margin-top: 10vh;
}

.itens {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.unidade-1 {
    box-shadow: 0px 2px 8px rgb(0 0 0 / 10%);
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
}

.unidade-1 img {
    border-radius: 8px 8px 0px 0px;
}

.unid-1-text h3 {
    margin-top: 2vh;
    font-family: 'Lato', sans-serif;
}

.unid-1-text p {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: 'Lato', sans-serif;
}
.unidade-2 {
    box-shadow: 0px 2px 8px rgb(0 0 0 / 10%);
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
}
.unidade-2 img {
    border-radius: 8px 8px 0px 0px;
}
.unid-2-text h3 {
    margin-top: 2vh;
    font-family: 'Lato', sans-serif;
}
.unid-2-text p {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: 'Lato', sans-serif;
}
.unidade-3 {
    box-shadow: 0px 2px 8px rgb(0 0 0 / 10%);
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
}
.unidade-3 img {
    border-radius: 8px 8px 0px 0px;
}
.unid-3-text h3 {
    font-family: 'Lato', sans-serif;
    margin-top: 2vh;
}
.unid-3-text p {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: 'Lato', sans-serif;    
}
.atendimento {
    text-align: center;
    margin-top: 10vh;
}
.atendimento h3 {
    font-family: 'Lato', sans-serif;  
    font-size: 20px; 
}
.atendimento h1 {
    color: #40aa0b;
    font-family: 'Lato', sans-serif;  
    font-size: 32px; 
    margin-top: 1vh;
}
.novidades {
    text-align: center;
    margin-top: 10vh;
}
.novidades h1 {
    font-family: 'Lato', sans-serif; 
    font-size: 40px;
}
.novidades-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}
.nov-1 {
    background-image: url("https://www.cotemig.com.br/static/blog/mobileimagefull-1653342958410.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 278px;
    height: 324px;
    border-radius: .875rem;
    margin: 0px 10px 0px 35px;
}
.nov-text {
    font-family: 'Lato', sans-serif; 
    color: #fff;
    margin-top: 25vh;
    font-size: 15px;
}
.nov-text h6{
    font-family: 'Lato', sans-serif; 
    color: #fff;
}
.nov-2 {
    background-image: url("https://cotemig.com.br/static/blog/mobileimagefull-1651240942557.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 278px;
    height: 324px;
    border-radius: .875rem;
    margin: 0px 10px 0px 35px;
}
.nov-3 {
    background-image: url("https://www.cotemig.com.br/static/blog/mobileimagefull-1647277290170.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 278px;
    height: 324px;
    border-radius: .875rem;
    margin: 0px 10px 0px 35px;
}
.nov-4 {
    background-image: url("https://www.cotemig.com.br/static/blog/mobileimagefull-1641562463686.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 278px;
    height: 324px;
    border-radius: .875rem;
    margin: 0px 10px 0px 35px;
}

footer {
    background: #151515;
    margin-top: 5vh;
}
.cima {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 16px 32px;
    border-bottom: 1px solid #424242;
    margin: 0px 240px;
}
.title {
    font-size: 18px;
    font-family: 'Lato', sans-serif; 
    color: #fff;
    padding: 10px 0
}
.cima ul li a {
    color: #bdbdbd;
    font-family: 'Lato', sans-serif; 
    font-size: 14px;
    padding: 5px;
}
.lista-4 h1 {
    color: #fff;
    font-family: 'Lato', sans-serif; 
    font-size: 16px;
}
.lista-4 p {
    font-size: 16px;
    font-family: 'Lato', sans-serif; 
    color: #bdbdbd;
    margin: 15px 0;
    margin-bottom: vh;
}
.lista-4 a {
    background: #40aa0b;
    padding: 10px 45px;
    margin: 18px 0;
    color: #fff;
    border-radius: 8px;
}
.baixo{
    padding: 40px 16px 32px;
    margin: 0px 240px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.baixo .p-1 img {
    margin: 20px 25px;
}
.baixo .p-1 p {
    font-family: 'Lato', sans-serif; 
    font-size: 12px;
    color: #ffff;
}
.baixo .p-1 p a {
    text-decoration: none;
    font-family: 'Lato', sans-serif; 
    font-size: 12px;
    color: #ffff;
}
.baixo .footer-social-1 {
    padding: 25px;
}
.baixo .footer-social-1 h1 {
    color: #fff;
    font-family: 'Lato', sans-serif; 
    font-size: 16px;
}
.footer-social-1 .redes-sociais ul {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.footer-social-1 .redes-sociais ul li{
    padding: 10px;
    text-align: center;
}
.footer-social-1 .redes-sociais ul li p {
    color: #fff;
    font-family: 'Lato', sans-serif; 
}
.baixo .footer-social-2 h1 {
    color: #fff;
    font-family: 'Lato', sans-serif; 
    font-size: 16px;
}
.footer-social-2 .redes ul {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.footer-social-2 .redes ul li{
    padding: 10px;
    text-align: center;
}
.footer-social-2 .redes ul li p {
    color: #fff;
    font-family: 'Lato', sans-serif; 
}



